@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

h1, h2, p, span {
    direction: rtl;
}
.repair {
    width: 100%;
    height: auto;
    background-color: darkred;
    padding: 0px;
    margin-top: 10px;
    z-index: 1;
    margin-bottom: 0px;
    float: right;
}
.repair, h2 {
    color: aliceblue;
    text-align: center;
    font-weight: 600; 
    font-family: 'Droid Arabic Kufi', serif;
}
.repair, h2, p {
    color: aliceblue;
    padding: 25px;
    font-size: 18px;
    font-family: 'Droid Arabic Kufi', serif; 
}
.repair img {
    clear:;
    width: 50%;
    height: 70%; 
}
#apple-info h1{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-family: 'Droid Arabic Kufi', serif;
	color: #036;
	font-size: 30px;
    border-bottom: 1px solid black;
}
@media screen and (max-width : 768px){
    
    .repair  img {
        clear: both;
        width: 90%;
        height: 60%;
        align-items: center;
        justify-content: center;
        margin-right: -10%; 
    }  
    .adver-info p{
        height: auto;
    }     
}